nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 180px;
  line-height: 0;
  height: auto;
  background-color: teal;
  color: rgba(255,255,255,.9);
}